{% extends "base.html" %}
{% block content %}
<h1>
            <span class="icon fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
    {{ gi_list.name}}</h1>
<p class="time">{{ gi_list.time }}</p>
<p class="list-id">List ID: {{gi_list.id }}</p>
<p class="comment">{{ gi_list.comment }}</p>
<ul class="list-entries" id="list-entries">
    {%- for entry in gi_entries %}
    {% include 'list_entry.html' %}
    {%- endfor %}
    <li class="add-entry" id="add-entry">
        <form action="javascript:addEntry('{{gi_list.id}}', $('#newentry').val())">
            {{ new_entry_form.hidden_tag() }}
            {{ new_entry_form.gi_list }}
            <div class="input-group">
                {{ new_entry_form.entry(class_="add-field form-control", id="newentry", autofocus=true, maxlength=100, placeholder="Add...") }}
                <span class="input-group-btn">
                    <button class="btn btn-default add-button" type="button"><i class="fa fa-plus-square"></i></button>
                </span>
            </div>
        </form>


    </li>
</ul>
<script src="{{ url_for('static', filename='js/entries.js') }}"></script>
{% include "disqus.html" %}
{%endblock%}
