{% extends "base.html" %}
{% block content %}
    <h1>
            <span class="icon fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
            </span>
        {{ gi_list.name}}</h1>
	<p class="time">{{ gi_list.time }}</p>
    <p class="list-id">List ID: {{gi_list.id }}</p>
	<p class="comment">{{ gi_list.comment }}</p>
	<ul class="list-entries">
		{% for entry in gi_entries %}
		  {% if entry.gotit %}
        <li class="gotit">
            {% elif entry.dontneed %}
        <li class="dontneed">
        {% else %}
            <li>
        {%endif%}
              {{ entry.entry }}
        {% if entry.gotit %}
        <span class="marker fa fa-check"></span>
        {% elif entry.dontneed%}
        <span class="marker fa fa-minus"></span>
        {% endif %}
              {% if not entry.gotit and not entry.dontneed %}
        <a href="/entry/gotit/{{ gi_list.id }}/{{entry.id}}"><span class="marker fa fa-check"></span></a>
        <a href="/entry/dontneed/{{ gi_list.id }}/{{entry.id}}"><span class="marker fa fa-minus"></span></a>
        <a href="/entry/rm/{{ gi_list.id }}/{{entry.id}}"><span class="marker fa fa-close"></span></a>
              {% else %}
              <a href="/entry/reset/{{ gi_list.id }}/{{entry.id}}"><span class="marker fa fa-undo"></span></a>
              {% endif %}
		  </li>
	  {% endfor %}
        <li class="add-entry">


            <form method="POST" action="/entry/new">
                {{ new_entry_form.hidden_tag() }}
                {{ new_entry_form.gi_list }}
                <div class="input-group">
                {{ new_entry_form.entry(class_="add-field form-control", autofocus=true, placeholder="Add...") }}
                <span class="input-group-btn">
                    <button class="btn btn-default add-button" type="submit"><i class="fa fa-plus-square"></i></button>
                </span>
                </div>
            </form>


        </li>
	</ul>
{%endblock%}
